.navbar {
  .navbar-brand {
      background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/DOYOGA-logo.png");
      background-size: cover;
      background-position: center;
      text-indent: 101%;
      overflow: hidden;
      white-space: nowrap;
      width: 96px;
      height: 31px;
  }
  .navbar-light .navbar-toggler {
      color: rgba(0, 0, 0, 0);
      border-color: rgba(0, 0, 0, 0);
  }
  .asidenav-link {
      &:hover {
          color: #fff;
      }
  }
}

.footer-nav {
  .footer-brand {
      background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/DOYOGA.png");
      background-size: cover;
      background-position: center;
      text-indent: 101%;
      overflow: hidden;
      white-space: nowrap;
      width: 96px;
      height: 31px;
  }
  .footer-icon {
      width: 24px;
  }
}
